@model Doximity.WebApp.Controllers.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Doximity Connect</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="@Model.Url">Login &raquo;</a></p>
        <p><a class="btn btn-default" href="@Url.Action("Auth", "Api")">Test &raquo;</a></p>
    </div>
</div>